<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>过滤器</title>
	<script src='angular-1.3.0.js'></script>
	<script src='angular-messages.min.js'></script>
</head>
<body ng-app="app" ng-controller="test">  
	<h3>BootStrap Tab Component</h3>   
	<tabs>     
		<pane title="First Tab">       
			<div>This is the content of the first tab.</div>
		</pane>     
		<pane title="Second Tab">       
			<div>This is the content of the second tab.</div>
		</pane>   
	</tabs>
	<div test data="{{data}}" first='{{data.first}}'></div>
	<script>
		angular.module('app', [])
		.directive('tabs', function() {
			return {
				restrict: 'E',
				transclude: true,
				scope: {},
				controller: ["$scope", function($scope) {
					var panes = $scope.panes = [];
					$scope.select = function(pane) {
						angular.forEach(panes, function(pane) {
							pane.selected = false;
						});
						pane.selected = true;
					}
					this.addPane = function(pane) {
						if (panes.length == 0) $scope.select(pane);
						panes.push(pane);
					}
				}],
				template: '<div class="tabbable">' + '<ul class="nav nav-tabs">' + '<li ng-repeat="pane in panes" ng-class="{active:pane.selected}">' + '<a href="" ng-click="select(pane)">{{pane.title}}</a>' + '</li>' + '</ul>' + '<div class="tab-content" ng-transclude></div>' + '</div>',
				replace: true
			};
		}).directive('pane', function() {
			return {
				require: '^tabs',
				restrict: 'E',
				transclude: true,
				scope: {
					title: '@'
				},
				link: function(scope, element, attrs, tabsCtrl) {
					tabsCtrl.addPane(scope);
				},
				template: '<div class="tab-pane" ng-class="{active: selected}" ng-transclude>' + '</div>',
				replace: true
			};
		}).directive('test',function(){
			return {
				restrict:'AE',
				link:function(scope,ele,attrs,tbsCtrl){
					var data=JSON.parse(attrs.data);
					scope.mysecond=data.second;
				},
				scope:{
					first:'@'
				},
				template:'<div><p>{{first}}</p>'+'<p>{{mysecond}}</p></div>',
				replace:true
			}
		}).controller('test',function($scope){
			$scope.data={
				first:'123',
				second:'234'
			}
		})
	</script>
</body>
</html>