<!DOCTYPE html>
<html lang="en" ng-app='userInfoModule'>
<head>
	<meta charset="UTF-8">
	<title>form</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="framework/1.3.0.14/angular.js"></script>
    <script src="js/form.js"></script>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">双向数据绑定</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" role='form' ng-controller='userInfoCtrl'>
						<div class="form-group">
							<label class="col-md-2 control-label">邮箱：</label>
							<div class="col-md-10">
								<input ng-model="userInfo.email" type="email" class="form-control" placeholder="推荐使用163邮箱">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-md-2 control-label">密码：</label>
							<div class="col-md-10">
								<input ng-model="userInfo.password" type="password" class="form-control" placeholder="只能是数字、字母、下划线">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="userInfo.autoLogin">自动登录
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<button class="btn btn-default" ng-click='getFormData()'>获取Form表单的值</button>
								<button class="btn btn-default" ng-click='setFormData()'>设置Form表单的值</button>
								<button class="btn btn-default" ng-click='resetForm()'>重置表单</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>