body{
	background: rgba(52, 61, 71, 0.2);
	font-size: 14px;
}
.content-left,.content-right,.item-first .item-pic,.article-item .pic,.comment-alert .alert-head span:first-child{
	float: left;
}
.article-item .time,.header .phone,.comment-alert .alert-head span:last-child{
	float: right;
}
.article-item .first-name:hover,.article-item .name:hover,.content-left .classify-title{
	color: #458bc0;
}
.page{	
	transition: 0.4s;
}
.fix{
	position: fixed;
	left: 0rem;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	z-index: 2;
}
.fixLeftbtn{
	transition:0.4s;
	cursor: pointer;
	position: fixed;
	left:0rem;
	top: 50%;
	margin-top: -22px;
	height: 60px;
	border-radius: 10px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	width: 20px;
	z-index: 2;
	background:#D6D8DA url(../img/btn_r.png) no-repeat center center;
}
.comment-alert{
	position: fixed;
	top: -40%;
	left: 50%;
	margin-left: -2.2rem;
	margin-top: -2.2rem;
	z-index: 2;
	border-radius: 0.1rem;
	overflow: hidden;
	width: 4rem;
	border:2px solid #ccc;
	transition:0.5s;
}
.comment-alert .alert-head,.comment-alert div{
	background-color: #fff;
}
.comment-alert .alert-head{
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 0.05rem 0.1rem;
}
.comment-alert .alert-head span{
	color: #ccc;
	padding: 0 0.05rem;
	cursor: pointer;
}
.comment-alert .alert-head span:last-child{
	color: #458bc0;
}
.comment-alert textarea{
	border:none;
	outline: none;
	padding: 0.05rem 0.1rem;
	width: 100%;
	height: 4.1rem;
	font-size: 0.2rem;
}
/* 右侧加头部 */
.header{
	height:0.7rem;
	background: #073157;
	font-size: 0.16rem;
	line-height: 0.7rem;
	text-indent: 1em;
	color:#fff;
	position: relative;
	transition: 0.4s;
	/* transform: translateX(-2rem);  */
}
.header a{
	color: #fff;
}
.header .unlogin a:hover,{
	color: #ff9833;
}
.header .logo{
	font-size: 0.25rem;
}
.personal .headPic,.haslogin .headPic,.item-first .item-pic,.article-item .pic{
	display: block;
	margin-top: 0.1rem;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background: url(../img/small-icon.jpg) no-repeat center center;
}
.personal{	
	height: 100%;
	font-size: 0.14rem;
	line-height: 0.57rem;
	text-indent: 1em;
	position: fixed;
	width: 2rem;
	right: -2rem;
	top: 0;
	background: #458bc0;
	transition:0.4s;
}
.personal .headPic{
	width: 1rem;
	height: 1rem;
	margin: 0.3rem auto;
}
.personal li.active,.personal li:hover{
	background: rgba(230, 230, 230, 0.3);
	text-shadow: 0 0 10px #073157;
	border-radius: 10px;
}
.personal li a{
	display: block;
	color: #fff;
}
.personal li span{
	color:#ff9833;
}
.header .phone{
	margin-right: 0.2rem;
}


/* 主要内容 */
.content-left,.content-right{
	padding-top: 0.15rem;
}
.content-left{
	position: fixed;
	width: 2rem;
	top: 0.7rem;
	left: -2rem;
	transition:0.4s;
}
.content-left li a{
	display: block;
	line-height: 0.6rem;
	color: #000;
	text-indent: 0.15rem;
}
.content-left li:hover,.content-left .active{
	background: rgba(69, 139, 192, 0.2);
}
.content-left .classify-title{
	font-size: 25px;
	text-align: center;
	margin-bottom: 0.1rem;
	font-weight: bold;
}
.content-right{
	background: rgba(69, 139, 192, 0.2);
	padding-bottom: 0.15rem;
	transition: 0.4s;
}
.content-right .article-item{
	margin: 0 0.2rem 0.15rem;
	background: #fff;
	border-radius: 0.15rem;	
	padding: 0.15rem;
}
.article-item .item-pic{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 0.15rem;	
	margin-top: 0;
}
.article-item .item-content{
	margin-left: 0.9rem;
}
.article-item .article-content{
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 3;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
.article-item .name{
	color: #000;
	font-size: 16px;
}
.article-item .time{
	color: #ccc;
}
.article-item .article-title{
	font-size: 18px;
	font-weight: bold;
	color: #000;
	display: block;
	margin: 0.05rem 0;
}
.article-item .article-title:hover{
	color:#343d47;
}
.article-item .article-title:hover{
	opacity: 0.5;
}
.article-item .item-last{
	margin-top: 0.07rem;
	text-align: right;
}
.article-item .item-last button{
	border-radius: 0.05rem;
	padding: 3px 7px;
	border: 0px solid #ccc;
	color:#7b7c7d; 
	background: #eeeff3;
	cursor: pointer;
}
.article-item .item-last button:hover{
	background: #c0c0c0;
	color: #000;
}
.article-item .comment-items{
	background-color: #f5f6f8;
	margin-top: 0.08rem;
	padding-left: 0.3rem;
	border-radius: 0.05rem;
	padding-bottom: 0.1rem;
}
.article-item .comment-item{
	padding: 0.1rem 0 0;
}
.article-item .comment-person,.article-item .replay-item{
	cursor: pointer;
	margin-bottom: 0.02rem;
}
.article-item .comment-person:hover,.article-item .replay-item:hover{
	background-color: #fff;
}
.article-item .pic{
	display: inline-block;
	margin: 0;
	height: 0.25rem;
	width: 0.25rem;
}
.article-item .comment-content{
	margin-left: 0.3rem;
}
.article-item .comment-item span{
	margin: 0;
}
.article-item .first-name{
	display: inline-block;
	text-indent: 0.5em;
	color:#435a88;
	font-weight: bold;
}
.article-item .replay{
	padding-left: 0.25rem;
}
.article-item .comment-person,.article-item .replay-item{
	min-height: 0.25rem;
}




@media screen and (min-width:800px) {
	.fixLeftbtn{
		display: none;
	}
	.header{
		height: 0.5rem;
		line-height: 0.5rem;
	}
	.haslogin>.headPic{
		width: 0.4rem;
		height: 0.4rem;
		margin-top: 0.05rem;	
	}
	.content-left{
		display: block;
		width: 20%;
		float: left;
		position: static;
	}
	.content-right{
		width: 80%;
		float: left;
	}
}